<div class="col-auto text-end float-end ms-auto download-grp">
    <a type="button" *ngIf="isPermission('export_pdf')" (click)="pdfExport()" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"   alt="Export to Pdf"  title="Export to Pdf"></a>
    <a type="button" *ngIf="isPermission('export_text')" (click)="txtExport()" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg"   alt="Export to TXT" title="Export to TXT"></a>
    <a type="button" *ngIf="isPermission('export_csv')" (click)="csvExport()" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"    alt="Export to CSV" title="Export to CSV"></a>
    <a type="button" *ngIf="isPermission('export_xsl')" (click)="excelExport()" ><img src="assets/img/icons/pdf-icon-04.svg"   alt="Export to XLS" title="Export to XLS"></a>
   
</div>