<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item" *ngIf="user.roles[0] ==='SUPERADMIN'"><a routerLink="/appointments/list">Citas </a></li>
                        <li class="breadcrumb-item" *ngIf="user.roles[0] ==='DOCTOR'"><a [routerLink]="['/appointments/list/doctor/', doctor_id]">Mis Citas </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Edit/ Add: Atención Médica </li>
                    </ul>
                </div>
                <app-back-bottn></app-back-bottn>
            </div>
        </div>
        <app-skeleton-loader *ngIf="isLoading" [rows]="5" [columns]="4"></app-skeleton-loader>
        <!-- <app-loader-anim *ngIf="isLoading"></app-loader-anim> -->
        <!-- /Page Header -->
        <div class="row">
            <!-- paciente -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            
                            <!-- paciente -->
                            <div class="row align-items-center py-4" >
                                <div class="col-12 py-4">
                                    <h4>Datos del Paciente</h4>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >N.Documento </label>
                                        <input class="form-control"  name="n_doc"  disabled [(ngModel)]="n_doc" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >First Name </label>
                                        <input class="form-control" name="name"  disabled [(ngModel)]="name" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Last Name </label>
                                        <input class="form-control" name="surname"  disabled [(ngModel)]="surname" type="text"  >
                                    </div>
                                </div>
                               
                                <div class="col-12 col-md-3">
                                    <div class="form-group local-forms">
                                        <label >Teléfono móvil </label>
                                        <input class="form-control" name="phone"  disabled [(ngModel)]="phone" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">  
                                    <div class="form-group local-forms">
                                        <label >Nombre Acompañante </label>
                                        <input class="form-control" name="name_companion"  disabled [(ngModel)]="name_companion" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">  
                                    <div class="form-group local-forms">
                                        <label >Apellido Acompañante </label>
                                        <input class="form-control" name="surname_companion"  disabled [(ngModel)]="surname_companion" type="text"  >
                                    </div>
                                </div>
                                
                                <!-- <div class="col-12 col-md-3">  
                                    <div class="form-group local-forms">
                                        <label >Laboratorio? <span class="login-danger">*</span></label>
                                        
                                        
                                        <select class="form-control form-select-solid fw-bolder"
                                                        name="laboratory" [(ngModel)]="laboratory"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option>-- Select --</option>
                                                        <option value="1">No</option>
                                                        <option value="2">Si</option>
                                                    </select>
                                    </div>
                                </div> -->
                                
                                <div class="row align-items-center" >
                                    <div class="col-12">
                                        <div class="form-group local-forms">
                                            <label>Antecedentes Alergicos </label>
                                            <textarea class="form-control" name="antecedent_alerg" disabled [(ngModel)]="antecedent_alerg" rows="4" cols="30"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- fin paciente -->
                            <div class="col-12 py-4">
                                <h4>Diagnostico</h4>
                            </div>
                            <div class="row align-items-center" >
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Diagnostico/Revisión <span class="login-danger">*</span></label>
                                        <textarea class="form-control" name="description" [(ngModel)]="description" rows="4" cols="30"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center" >
                                <div class="col-xs-12 col-sm-6">
                                    <div class="row">
                                        
                                        <div class="col-12 ">  
                                            <div class="form-group local-forms">
                                                <label >Nombre de Medicamento<span class="login-danger">*</span></label>
                                                <input class="form-control" name="name_medical"  [(ngModel)]="name_medical" type="text"  >
                                            </div>
                                        </div>
                                        <div class="col-12 ">
                                            <div class="form-group local-forms">
                                                <label >Uso<span class="login-danger">*</span></label>
                                                <input class="form-control" name="uso"  [(ngModel)]="uso" type="text"  >
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <button class="btn btn-primary btn-sm" (click)="addMedicamento()">+ Agregar</button>
                                            <!-- <button class="btn btn-danger btn-sm">x</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="col-xs-12 col-sm-3">

                                        <div class="form-group ">
                                            <div _ngcontent-rhp-c92="" class="card-header d-flex justify-content-between align-items-center">
                                                <h5 _ngcontent-rhp-c92="" class="card-title">Laboratorio?</h5>
                                                <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                                                    <input _ngcontent-rhp-c92="" type="checkbox" id="laboratory"  class="check" name="laboratory" [checked]="laboratory === true" [ngModelOptions]="{standalone: true}" [(ngModel)]="laboratory">
                                                    <label _ngcontent-rhp-c92="" for="laboratory" class="checktoggle" value="true">checkbox</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Descripción</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let medicina of medical; let i = index">
                                                    <td>
                                                        Medicamento: {{medicina.name_medical}}
                                                        <br>
                                                        uso: {{medicina.uso}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-sm" (click)="deleteMedical(i)">x</button>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="row align-items-center" >
                                <!-- validaciones -->
                                <div class="form-group row" *ngIf="text_success">
                                    <div class="col-12">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong>Exito!</strong>{{text_success}}.
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true"> </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="form-group row" *ngIf="text_validation">
                                    <div class="col-12">
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong>!</strong> {{ text_validation }}.
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true"> </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- validaciones -->
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Actualizar</button>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>	
                	
            </div>
            <!-- fin paciente -->						
        </div>
    </div>
</div>
 