<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Admin Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="good-morning-blk">
            <div class="row">
                <div class="col-md-6">
                    <div class="morning-user">
                        <h2>Buen día, <span>{{user.name}}</span></h2>
                        <p>Que tengas un día productivo.</p>
                    </div>
                </div>
                <div class="col-md-6 position-blk">
                    <div class="morning-img">
                        <img src="assets/img/morning-img-01.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <img src="assets/img/icons/calendar.svg" alt="">
                    </div>
                    <div class="dash-content dash-count">
                        <h4>Citas Médicas.</h4>
                        <h3 style="color: #513081;"><span class="counter-up" >{{num_appointments_current}}/<small>{{num_appointments_before}}</small></span></h3>
                        <p *ngIf="porcentaje_d >= 0"><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>{{porcentaje_d}}%</span> vs last month</p>
                        <p *ngIf="porcentaje_d < 0"><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>{{porcentaje_d}}%</span> vs last month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <img src="assets/img/icons/profile-add.svg" alt="">
                    </div>
                    <div class="dash-content dash-count">
                        <h4>Nuevos Pacientes.</h4>
                        <h3 style="color: #513081;"><span class="counter-up" >{{num_patients_current}}/<small>{{num_patients_before}}</small></span></h3>
                        <p *ngIf="porcentaje_dp >= 0"><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>{{porcentaje_dp}}%</span> vs last month</p>
                        <p *ngIf="porcentaje_dp < 0"><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>{{porcentaje_dp}}%</span> vs last month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <img src="assets/img/icons/scissor.svg" alt="">
                    </div>
                    <div class="dash-content dash-count">
                        <h4>Citas Atendidas.</h4>
                        <h3 style="color: #513081;"><span class="counter-up" >{{num_appointments_attention_current}}/<small>{{num_appointments_attention_before}}</small></span></h3>
                        <p *ngIf="porcentaje_da >= 0"><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>{{porcentaje_da}}%</span> vs last month</p>
                        <p *ngIf="porcentaje_da < 0"><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>{{porcentaje_da}}%</span> vs last month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <img src="assets/img/icons/empty-wallet.svg" alt="">
                    </div>
                    <div class="dash-content dash-count">
                        <h4>Ganacias.</h4>
                        <h3 style="color: #513081;">$<span class="counter-up" > {{num_appointments_total_current}}/<small>{{num_appointments_total_before}}</small></span></h3>
                        <p *ngIf="porcentaje_dt >= 0"><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>{{porcentaje_dt}}%</span> vs last month</p>
                        <p *ngIf="porcentaje_dt < 0"><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>{{porcentaje_dt}}%</span> vs last month</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-title patient-visit">
                            <h4>Pacientes por Género</h4>
                            <!-- <div >
                                <ul class="nav chat-user-total">
                                    <li><i class="fa fa-circle current-users" aria-hidden="true"></i>Masculino 75%</li>
                                    <li><i class="fa fa-circle old-users" aria-hidden="true"></i> Femenino 25%</li>
                                </ul>
                            </div> -->
                            <div class="form-group mb-0">
                                <mat-select [(ngModel)]="selectedValue" class="form-control select" (selectionChange)="selectedYear()"  placeholder="2023">
                                        <mat-option *ngFor="let data of selecedList" [value]="data.value">
                                          {{data.value}}
                                        </mat-option>
                                </mat-select>
                            </div>
                        </div>	
                        <div id="patient-chart">  
                            <apx-chart
                            [series]="chartOptionsOne.series"
                            [chart]="chartOptionsOne.chart"
                            [dataLabels]="chartOptionsOne.dataLabels"
                            [plotOptions]="chartOptionsOne.plotOptions"
                            [responsive]="chartOptionsOne.responsive"
                            [xaxis]="chartOptionsOne.xaxis"
                            [legend]="chartOptionsOne.legend"
                            [fill]="chartOptionsOne.fill"
                            [grid]="chartOptionsOne.grid"
                            [xaxis]="chartOptionsOne.xaxis"
                          ></apx-chart></div>
                          <div id="apexcharts-area" *ngIf="query_income_year">
                            <apx-chart
                            [series]="chartOptionsThree.series"
                            [chart]="chartOptionsThree.chart"
                            [xaxis]="chartOptionsThree.xaxis"
                            [dataLabels]="chartOptionsThree.dataLabels"
                            [grid]="chartOptionsThree.grid"
                            [stroke]="chartOptionsThree.stroke"
                            [title]="chartOptionsThree.title"
                            [markers]="chartOptionsThree.markers"
                            [yaxis]="chartOptionsThree.yaxis"
                            [fill]="chartOptionsThree.fill"
                          ></apx-chart></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-3 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-title">
                            <h4>Pacientes por Especialidad</h4>
                        </div>	
                        <div id="donut-chart-dash" class="chart-user-icon">
                            <apx-chart class="donut-chart-custom"
                            [series]="chartOptionsTwo.series"
                            [chart]="chartOptionsTwo.chart"
                            [labels]="chartOptionsTwo.labels"
                            [responsive]="chartOptionsTwo.responsive"
                            [dataLabels]="chartOptionsTwo.dataLabels"
                            [legend]="chartOptionsTwo.legend"></apx-chart>
                            <img src="assets/img/icons/user-icon.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12  col-xl-4">
                <div class="card top-departments">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Top Especialidades</h4>
                    </div>
                    <div class="card-body scrooldiv">
                        <div class="activity-top" *ngFor="let speciality of query_patients_speciality_porcentaje">
                            <div class="activity-boxs comman-flex-center">
                                <img src="assets/img/icons/dep-icon-01.svg" alt="">
                            </div>
                            <div class="departments-list">
                                <h4>{{speciality.name}}</h4>
                                <p>{{speciality.percentage}}%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12  col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title ">Citas Pendientes</h4>
                    </div>
                    <div class="card-body p-0 table-dash">
                        <div class="table-responsive">
                            <table matSort  class="table mb-0 border-0 datatable custom-table patient-profile-table">
                                <thead>
                                    <tr>
                                        
                                        <th mat-sort-header="date">Fecha</th>
                                        <th mat-sort-header="doctor">Doctor</th>
                                        <th mat-sort-header="status">Status</th>
                                        <th mat-sort-header="statuspayment">Status Pago</th>
                                        <th mat-sort-header="charges">Monto ($)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of appointments">
                                        
                                        <td >{{data.date_appointment_format}}</td>
                                        <td >{{data.doctor.full_name}}</td>
                                        <td>
                                            <button [ngClass]="{'status-green' : data.status === 2, 'status-pink' : data.status === 1}" class="custom-badge">{{data.status == 1 ? 'Pendiente' : 'Atendido'}}</button>
                                        </td>
                                        <td>
                                            <button [ngClass]="{'status-green' : data.status_pay === 1, 'status-pink' : data.status_pay === 2}" class="custom-badge">{{data.status_pay == 1 ? 'Pagado' : 'Deuda'}}</button>
                                        </td>
                                        <td>{{data.amount }}</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" [routerLink]="['/appointments/list/edit/', data.id]"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
                                                    <!-- <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a> -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>