.scrooldiv{
    height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
}

.scrooldiv2{
    height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

.about-info {
    margin-bottom: 35px !important;
}